#folders
nic/model/saved/
nic/data/
nic/__pycache__
nic/cache
nic/logger/__pycache__
nic/datasets/__pycache__
nic/model/__pycache__

nic/pycocoevalcap/__pycache__
nic/bleu/__pycache__
nic/cider/__pycache__
nic/meteor/__pycache__
nic/rouge/__pycache__
nic/tokenizer/__pycache__

#files
nic/model/set_up.sh
nic/model/download.sh
nic/tokenizer/__pycache__/tmp9i_bzl4o